/* * {
    outline: 2px solid red;
} */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: red;
    background-color: yellow;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    /* padding: 20px; */
    display: flex;
    gap: 40px;
    align-items: center;
    padding-right: 40px;
    font-weight: bold;
    padding-right: 0;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
}
li:hover {
    font-style: oblique;
}

h4 {
    font-style: italic;
}

/* CONTENT */
.logo {
    max-width: 400px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
}
.podcastsection {
    display: flex;
    justify-content: center;
}

h3 {
    font: bold;
    color: black;
}
.descriptionsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 50px 200px;
}

p {
    margin-right: 400px;
}




/* FOOTER */
.footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}